{% extends 'Walkly/index.html' %}

{% block title %}
  <h1 class="display-1 lh-1 mb-3">Stride and Ride for a Greener Tomorrow</h1>
  <p class="lead fw-normal text-muted mb-5">Track your walks and rides. Measure your impact on the planet. Stay green and stay active!</p>
{% endblock %}

{% block contenido %}
  <table>
    <tr>
      <td>
        <button class="btn btn-primary btn-sm rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
          <span class="d-flex align-items-center">
            <i class="bi-chat-text-fill me-2"></i>
            <span class="small">Add new contact</span>
            <a href="{% url 'contact_usCreate' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus fa-lg" title="Create"></i></a>
          </span>
        </button>
      </td>
    </tr>
  </table>
  <section id="contact_us" class="section bg-light">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8">
          <h2 class="text-center mt-0">Contact Us</h2>
          <hr class="divider" />
          <p class="text-center mb-5">Contact us for further information using the details below:</p>
        </div>
      </div>
      <div class="row">
        {% for c in contact_us_list %}
          <div class="col-md-4 mb-5">
            <div class="card review-card h-100">
              <div class="card-body">
                <h5 class="card-title reviewer-name">{{ c.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted reviewer-role">{{ c.email }}</h6>
                <h4 class="card-subtitle mb-2 text-muted reviewer-role">{{ c.subject }}</h4>
                <p class="card-text review-text">{{ c.message }}</p>
                <th>Select</th>
                <td>
                  <a href="{% url 'contact_usUpdate' c.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-edit fa-sm" title="Edit Record"></i></a>
                  <a href="{% url 'contact_usDelete' c.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"><i class="fa fa-trash fa-sm" title="Delete Record"></i></a>
                </td>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
