
{% extends 'Walkly/index.html' %}

{% block titulo %}
<h1 class="display-1 lh-1 mb-3">Stride and Ride for a Greener Tomorrow</h1>
    <p class="lead fw-normal text-muted mb-5">Track your walks and rides. Measure your impact on the planet. Stay green and stay active!</p>
{% endblock titulo %} 


{% block contenido %}
 <!-- About Us app section-->
 <section id="aboutus" class="section bg-light">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
           <div class="col-lg-8">
           <h2 class="text-center mt-0">About Us</h2>
           <hr class="divider" />
           <p class="text-center mb-5">"Welcome to Walkly, where our journey began with a bold idea: to blend physical activity with caring for our environment in a fun and impactful way. We're passionate about the power of each step and pedal to boost personal wellness and support global sustainability efforts. By tracking steps and biking, we're not just promoting fitness. We're inspiring a community committed to healthier lifestyles and a greener planet. Join us on this exciting adventure and make a positive impact, one stride at a time!"</p>
           <hr class="divider" />
       </div>
   </div>
</div>
</section>

{% endblock contenido %}