{% extends 'Walkly/index.html' %}

{% block title %}
<h1 class="display-1 lh-1 mb-3">Stride and Ride for a Greener Tomorrow</h1>
    <p class="lead fw-normal text-muted mb-5">Track your walks and rides. Measure your impact on the planet. Stay green and stay active!</p>
{% endblock title %} 

{% block perfil %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        {{ form.as_table }}
                    </table>
                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Send">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock perfil %}