{% extends 'Walkly/index.html' %}

{% block title %}
<h1 class="display-1 lh-1 mb-3">Stride and Ride for a Greener Tomorrow</h1>
    <p class="lead fw-normal text-muted mb-5">Track your walks and rides. Measure your impact on the planet. Stay green and stay active!</p>
{% endblock title %} 


{% block subscription %}

<table>
    <tr>
        <td>
            <button class="btn btn-primary btn-sm rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Add new subscription</span>
                        <a
                        href="{% url 'subscribeCreate' %}"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus fa-lg" title="Create"> </i>
                        </a>
                </span>
            </button>
        </td> 
        
        <td>
            <button class="btn btn-primary btn-sm rounded-pill px-3 mb-2 mb-lg-0" data-bs-toggle="modal" data-bs-target="#feedbackModal">
                <span class="d-flex align-items-center">
                    <i class="bi-chat-text-fill me-2"></i>
                    <span class="small">Find subscription</span>
                        <a
                        href="{% url 'searchsubscribe' %}"
                        class="btn btn-primary btn-sm"
                        ><i class="fa fa-plus fa-lg" title="Create"> </i>
                        </a>
                </span>
            </button>
        </td>   
    </tr>
</table>
<section id="subscribe" class="section bg-light">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-center mt-0">Subscription</h2>
                <hr class="divider" />
                <p class="text-center mb-5">Choose the best plan that suits your needs. First month's on us.</p>
            </div>
        </div>
        <div class="row gx-5">
            {% for s in subscribe_list %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ s.id }}</h5>
                        <h5 class="card-title text-center">{{ s.plan_name }}</h5>
                        <h6 class="card-price text-center">${{ s.price }}</h6>
                        <hr>
                        <ul class="fa-ul">
                            {% for feature in s.features_list %}
                                <li>
                                    <i class="fas fa-check"></i>
                                    {{ feature }}
                                </li>
                            {% endfor %}
                        </ul>
                        <th>Select</th>
                        <td>
                            <a        
                                href="{% url 'subscribeUpdate' s.id %}"
                                class="btn btn-primary"
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                                ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                             </a>
                            <a
                                href= "{% url 'subscribeDelete' s.id %}"       
                                class="btn btn-danger"          
                                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"           
                                ><i class="fa fa-trash fa-sm" title="Delete Record"></i>         
                            </a>                      
                        </td>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr class="divider" />
</section>

{% endblock subscription %}